.team-card {
    flex: 1 0 0px;
}

.team-card-content {
    flex: 1 0 0px;
}

.text-color {
    background: linear-gradient(
        90deg,
        rgb(99, 99, 99) 0%,
        rgb(225, 225, 225) 26%,
        rgb(255, 255, 255) 37%,
        rgb(223, 223, 223) 48%,
        rgb(177, 177, 177) 52%,
        rgb(142, 142, 142) 57%,
        rgb(116, 116, 116) 61%,
        rgb(100, 100, 100) 64%,
        rgb(95, 95, 95) 67%,
        rgb(101, 101, 101) 71%,
        rgb(118, 118, 118) 76%,
        rgb(147, 147, 147) 82%,
        rgb(186, 186, 186) 89%,
        rgb(211, 211, 211) 92%,
        rgb(219, 219, 219) 94%,
        rgb(243, 243, 243) 100%
    );
    background-clip: text;
    color: transparent;
    width: auto;
}

.team-image-section {
    .profile-image {
        display: none;
    }

    &:hover {
        .mask-image {
            display: none;
        }
        .profile-image {
            display: block;
            img {
                border-radius: 100%;
            }
        }
    }
}
.card-one-image {
    transform: perspective(1200px) translateX(0px) translateY(0px) scale(1) rotate(5.31677deg) rotateX(0deg)
        rotateY(0deg) translateZ(0px);

    aspect-ratio: 1/1;
    width: 170px;
}
